:root {
    --background-color: #000;
    --accent-color: #A93B59;
    --additional-accent: #F5EBEB;
    --text-color: #FFFFFF;
    --form-background: rgba(185, 106, 127, 0.7);
    --formtext-color: rgba(255, 255, 255, 0.71);
}


/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */

/* header */
.header-link {
color: var(--additional-accent);
font-family: "Spline Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.19;
text-transform: uppercase;
}

.nav-link {
color: var(--additional-accent);
font-family: "Source Sans 3", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* hero */
.hero-title-1{
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.hero-title-2 {
color: var(--additional-accent);
font-family: "Playfair Display", serif;
font-size: 86px;
font-weight: 400;
/* якщо виникнуть проблеми -- перерахуй lineheight */
line-height: 1.2; 
text-transform: uppercase;
}

.hero-title-3 {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 48px;
font-style: italic;
font-weight: 500;
line-height: 1.25; 
}

.hero-text {
color: var(--additional-accent);
font-family: "Source Sans 3", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
}

.hero-button {
color: var(--additional-accent);
font-family: "Source Sans 3", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 1.25;
}

.hero-description {
color: var(--text-color);
font-family: "Source Sans 3", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.25;
text-transform: uppercase;
}

