/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */

body {
    background-color: var(--background-color);
    font-family: "Source Sans 3", sans-serif;
}

.container {
    width: 1328px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    outline: solid red;
}

/* header */

.header {
    padding-top: 24px;
}

.header> .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    width: 42px;
    height: 39px;
    margin-bottom: 1px;
}

.header-link {
color: var(--additional-accent);
font-family: "Spline Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.19;
text-transform: uppercase;
display: flex;
flex-direction: column;
align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
}


.nav-link {
color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* hero */

.hero {
    padding-top: 109px;
    padding-bottom: 50px;
}

.hero-title-1{
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    display: block;
}

.hero-title-2 {
color: var(--additional-accent);
font-family: "Playfair Display", serif;
font-size: 86px;
font-weight: 400;
/* якщо виникнуть проблеми -- перерахуй lineheight */
line-height: 1.2; 
text-transform: uppercase;
margin-left: 110px;
margin-right: 24px;
margin-top: 12px;
}

.hero-title-3 {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 48px;
font-style: italic;
font-weight: 500;
line-height: 1.25; 
margin-bottom: 8px;
}

.hero-text {
color: var(--additional-accent);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
margin-left: 110px;
margin-bottom: 42px;
}

.hero-button {
color: var(--additional-accent);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
padding: 16px 32px;
width: 437px;
background-color: var(--accent-color);
border-radius: 15px;
margin-left: 110px;
}

.hero-description {
color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.25;
text-transform: uppercase;
width: 201px;
text-align: center;
}

.hero-description:nth-child(2){
    width: 215px;
}


.hero-list {
    display: flex;
    gap: 124px;
    justify-content: center;
}

.hero-img {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

/* каталог */

.catalog {
    padding-top: 44px;
    padding-bottom: 92px;
}

.catalog-text {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.catalog-box {
    width: 1085px;
    background-color: var(--accent-color);
    margin: 0 auto;
    border-radius: 15px;
}

.catalog-title {
    color: var(--text-color);

text-align: center;
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
margin-bottom: 20px;
}

.catalog-list {
    display: flex;
    justify-content: space-between;
}

.catalog-item {
    display: flex;
}


.catalog-desc {
    color: var(--text-color);
font-size: 18px;
font-weight: 300;
line-height: 1.27;
}

.catalog-button {
    background-color: transparent;
    border: none;
}

.catalog-item:nth-child(1) .catalog-desc {
    margin-right: 74px;
}

.catalog-item:nth-child(2) .catalog-desc {
    margin-right: 157px;
}

.catalog-item:nth-child(3) .catalog-desc {
    margin-right: 70px;
}

.catalog-item:nth-child(4) .catalog-desc {
    margin-right: 148px;
}

.catalog-item:nth-child(5) .catalog-desc {
    margin-right: 63px;
}

/* .catalog-desc:nth-child(2) {
    margi
} */

.catalog-caption {
    color: var(--text-color);
text-align: center;
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.caption-desk {
    color: var(--text-color);
font-size: 15px;
font-weight: 600;
line-height: 1.26;
letter-spacing: 0.75px;
text-transform: uppercase;
}

.caption-subtitle {
    color: var(--background-color);
font-size: 34px;
font-weight: 300;
line-height: 1.17;
}

.caption-slogan {
    color: var(--background-color);
font-size: 16px;
font-weight: 300;
line-height: 1.25;
}

.catalog-btn {
    color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.25; 
letter-spacing: 1.6px;
text-transform: uppercase;
}
/* Якість в деталях  */
.details-text {
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}
.details-title {
    color:var(--text-color);
font-size: 32px;
font-weight: 400;
line-height: 1.25;
}
.details-desk {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 300;
line-height: 1.25;
}
.details-span {
    color:var(--text-color);
font-size: 20px;
font-weight: 600;
line-height: 1.25;
}
/* Секція форми */
.forms {
    background-color: var(--form-background);
}
.forms-title {
    color: var(--accent-color);
/* text-align: center; */
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.forms-text {
    color: var(--additional-accent);
font-size: 32px;
font-weight: 400;
line-height: 1.25;
}

.forms-span {
    color: var(--text-color);
font-size: 32px;
font-weight: 600;
line-height: 1.25;
}

.form-input {
    color: #8D8D8D;
font-size: 20px;
font-weight: 700;
line-height: 1.25;
}

.form-button {
    color: var(--text-color);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
}

.forms-caption {
    color: #FFF;
/* text-align: center; */
font-size: 32px;
font-weight: 400;
line-height: 1.25;
}

.forms-desk {
    color: rgba(255, 255, 255, 0.71);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}

.forms-bold {
    color: rgba(255, 255, 255, 0.71);
font-size: 20px;
font-weight: 700;
line-height: 1.25;
}

/* секція клієнти */

.inviseters-title {
    color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;

}

/* футер */


.footer-link {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
font-variant: small-caps;
}

.footer-logo {
    color: var(--additional-accent);
text-align: center;
font-family: "Spline Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 1.14;
text-transform: uppercase;
}


.address-link {
    color: var(--text-color);
/* text-align: center; */
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
}

.address-text {
    color: var(--text-color);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */