/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */

body {
    background-color: var(--background-color);
    font-family: "Source Sans 3", sans-serif;
}

.container {
    width: 1328px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    outline: solid red;
}
/* 
.logo-img {
    stroke-width: 1px;
    stroke: white;
} */

/* header */

.header {
    padding-top: 24px;
}

.header> .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-img {
    width: 42px;
    height: 39px;
    margin-bottom: 1px;
}

.header-link {
color: var(--additional-accent);
font-family: "Spline Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.19;
text-transform: uppercase;
display: flex;
flex-direction: column;
align-items: center;
}

.nav-list {
    display: flex;
    gap: 32px;
}


.nav-link {
color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* hero */

.hero {
    padding-top: 109px;
    padding-bottom: 50px;
}

.hero-title-1{
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    display: block;
}

.hero-title-2 {
color: var(--additional-accent);
font-family: "Playfair Display", serif;
font-size: 86px;
font-weight: 400;
/* якщо виникнуть проблеми -- перерахуй lineheight */
line-height: 1.2; 
text-transform: uppercase;
margin-left: 110px;
margin-right: 24px;
margin-top: 12px;
}

.hero-title-3 {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 48px;
font-style: italic;
font-weight: 500;
line-height: 1.25; 
margin-bottom: 8px;
}

.hero-text {
color: var(--additional-accent);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
margin-left: 110px;
margin-bottom: 42px;
}

.hero-button {
color: var(--additional-accent);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
padding: 16px 32px;
width: 437px;
background-color: var(--accent-color);
border-radius: 15px;
margin-left: 110px;
}

.hero-description {
color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.25;
text-transform: uppercase;
width: 201px;
text-align: center;
}

.hero-description:nth-child(2){
    width: 215px;
}


.hero-list {
    display: flex;
    gap: 124px;
    justify-content: center;
}

.hero-img {
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    margin-bottom: 2px;
}

/* каталог */

.catalog {
    padding-top: 44px;
    padding-bottom: 92px;
    text-align: center;
}

.catalog-text {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
text-align: start;
}

.catalog-box {
    width: 1085px;
    background-color: var(--accent-color);
    margin: 0 auto;
    border-radius: 15px;
}

.catalog-title {
    color: var(--text-color);
text-align: center;
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
margin-bottom: 20px;




}

.catalog-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #B96A7F;
    padding: 22px 0 22px 0;
    border-radius: 15px;
}

.catalog-item {
    display: flex;
}


.catalog-desc {
    color: var(--text-color);
font-size: 18px;
font-weight: 300;
line-height: 1.27;
}

.catalog-button {
    background-color: transparent;
    border: none;
}

.catalog-icon {
    fill: #FFFFFF;
}

.catalog-icon:hover {
    fill: #000;
}

.catalog-item:nth-child(1) .catalog-desc {
    margin-right: 74px;
}

.catalog-item:nth-child(2) .catalog-desc {
    margin-right: 157px;
}

.catalog-item:nth-child(3) .catalog-desc {
    margin-right: 70px;
}

.catalog-item:nth-child(4) .catalog-desc {
    margin-right: 148px;
}

.catalog-item:nth-child(5) .catalog-desc {
    margin-right: 63px;
}

/* .catalog-desc:nth-child(2) {
    margi
} */

.catalog-heart {
    width: 28px;
    height: 28px;
    fill: #B02E51;
}

.catalog-caption {
    color: var(--text-color);
text-align: center;
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
margin-top: 50px;
margin-bottom: 20px;
}

.caption-list {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}

.caption-item {
    border-radius: 15px;
background: #FFF;
padding: 15px;
}

.caption-desk {
    color: var(--text-color);
font-size: 15px;
font-weight: 600;
line-height: 1.26;
letter-spacing: 0.75px;
text-transform: uppercase;
}

.caption-subtitle {
    color: var(--background-color);
    font-size: 34px;
    font-weight: 300;
    line-height: 1.17;
    text-align: center;
}

.caption-slogan {
    color: var(--background-color);
font-size: 16px;
font-weight: 300;
line-height: 1.25;
text-align: center;
margin-top: 10px;
}

.catalog-btn {
    color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.25; 
letter-spacing: 1.6px;
text-transform: uppercase;
margin-top: 20px;
background-color: transparent;
 border-radius: 15px;
border: 1px solid #FFF; ;
padding: 15px 30px;

}
/* Якість в деталях  */
.details-text {
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
margin-bottom: 171px;
text-align: end;
}

.details-item {
    display: flex;
    gap: 121px;
    align-items: center;
}

.details-item:nth-child(2) {
    flex-direction: row-reverse;
}

.details-title {
    color:var(--text-color);
font-size: 32px;
font-weight: 400;
line-height: 1.25;
margin-bottom: 16px;
}
.details-desk {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 300;
line-height: 1.25;
width: 527px;
}
.details-span {
    color:var(--text-color);
font-size: 20px;
font-weight: 600;
line-height: 1.25;
}
/* Секція форми */
.forms {
    padding-top: 132px;
    padding-bottom: 121px;
}

.forms-wrap {
    background-color: var(--form-background);
    display: flex;
    gap: 242px;
}

.forms-title {
    color: var(--accent-color);
/* text-align: center; */
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
margin-bottom: 140px;
}

.form {
padding: 36px 64px 86px 55px;
}

.forms-text {
    color: var(--additional-accent);
font-size: 32px;
font-weight: 400;
line-height: 1.25;
width: 347px;
margin-bottom: 40px;
}

.forms-link {
    width: 45px;
    height: 45px;
    border: 1px solid #6F6567;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forms-link:hover,
.forms-link:focus {
    background-color: aqua;
    border: none;
    outline: 1px solid #e1ff00;
    .form-icon {
        fill: red;
    }
}

.form-icon {
    width: 28px;
height: 28px;
flex-shrink: 0;
fill: #6F6567;
}

.form-icon:hover {
    fill: #822740;
}



.forms-span {
    color: var(--text-color);
font-size: 32px;
font-weight: 600;
line-height: 1.25;
}

.form-input {
    color: #8D8D8D;
font-size: 20px;
font-weight: 700;
line-height: 1.25;
display: block;
width: 416px;
height: 70px;
border-radius: 15px;
border: none;
padding-left: 38px;
}

.form-button {
    color: var(--text-color);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
/* padding: 16px, 116px; */
width: 416px;
height: 62px;
border-radius: 15px;
box-shadow: 142px 0px 40px 0px rgba(0, 0, 0, 0.00), 91px 0px 36px 0px rgba(0, 0, 0, 0.01), 51px 0px 31px 0px rgba(0, 0, 0, 0.05), 23px 0px 23px 0px rgba(0, 0, 0, 0.09), 6px 0px 12px 0px rgba(0, 0, 0, 0.10), 0px 0px 0px 0px rgba(0, 0, 0, 0.10);
background-color: #A93B59;
border: none;
margin-top: 40px;
}

.forms-caption {
    color: #FFF;
/* text-align: center; */
font-size: 32px;
font-weight: 400;
line-height: 1.25;
margin-bottom: 39px;
margin-top: 40px;
}

.forms-list {
 display: flex;
 flex-direction: column;
 gap: 28px;
}

.forms-item {
    display: flex;
    align-items: center;
    gap: 32px;
}

.form-check {
    width: 48px;
    height: 48px;
    fill: #822740 ;
}

.forms-desk {
    width: 389px;
    color: rgba(255, 255, 255, 0.71);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}

.forms-bold {
    color: rgba(255, 255, 255, 0.71);
font-size: 20px;
font-weight: 700;
line-height: 1.25;
}

/* секція клієнти */

.inviseters {
    padding-top: 121px;
    padding-bottom: 127px;
}

.inviseters-title {
    color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
text-align: end;
margin-bottom: 140px;
}

.inviseters-list {
    display: flex;
    justify-content: space-between;
}

.arrow-list {
    display: flex;
    justify-content: space-between;
}

.arrow-icon {
    fill: #B02E51;
    width: 69px;
    height: 74px;
}

/* футер */


.footer-link {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
font-variant: small-caps;
}

.footer-logo {
    color: var(--additional-accent);
text-align: center;
font-family: "Spline Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 1.14;
text-transform: uppercase;
}


.address-link {
    color: var(--text-color);
/* text-align: center; */
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
}

.address-text {
    color: var(--text-color);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */