/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */

body {
    background-color: var(--background-color);
    font-family: "Source Sans 3", sans-serif;
}

.container {
    width: 1328px;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 auto;
    outline: solid red;
}

/* header */
.header-link {
color: var(--additional-accent);
font-family: "Spline Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.19;
text-transform: uppercase;
}

.nav-link {
color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* hero */
.hero-title-1{
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.hero-title-2 {
color: var(--additional-accent);
font-family: "Playfair Display", serif;
font-size: 86px;
font-weight: 400;
/* якщо виникнуть проблеми -- перерахуй lineheight */
line-height: 1.2; 
text-transform: uppercase;
}

.hero-title-3 {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 48px;
font-style: italic;
font-weight: 500;
line-height: 1.25; 
}

.hero-text {
color: var(--additional-accent);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
}

.hero-button {
color: var(--additional-accent);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
}

.hero-description {
color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.25;
text-transform: uppercase;
}

/* каталог */

.catalog-text {
color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.catalog-title {
    color: var(--text-color);

text-align: center;
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.catalog-desc {
    color: var(--text-color);
font-size: 18px;
font-weight: 300;
line-height: 1.27;
}

.catalog-caption {
    color: var(--text-color);
text-align: center;
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.caption-desk {
    color: var(--text-color);
font-size: 15px;
font-weight: 600;
line-height: 1.26;
letter-spacing: 0.75px;
text-transform: uppercase;
}

.caption-subtitle {
    color: var(--background-color);
font-size: 34px;
font-weight: 300;
line-height: 1.17;
}

.caption-slogan {
    color: var(--background-color);
font-size: 16px;
font-weight: 300;
line-height: 1.25;
}

.catalog-btn {
    color: var(--text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.25; 
letter-spacing: 1.6px;
text-transform: uppercase;
}
/* Якість в деталях  */
.details-text {
    color: var(--accent-color);
    font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}
.details-title {
    color:var(--text-color);
font-size: 32px;
font-weight: 400;
line-height: 1.25;
}
.details-desk {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 300;
line-height: 1.25;
}
.details-span {
    color:var(--text-color);
font-size: 20px;
font-weight: 600;
line-height: 1.25;
}
/* Секція форми */
.forms {
    background-color: var(--form-background);
}
.forms-title {
    color: var(--accent-color);
/* text-align: center; */
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;
}

.forms-text {
    color: var(--additional-accent);
font-size: 32px;
font-weight: 400;
line-height: 1.25;
}

.forms-span {
    color: var(--text-color);
font-size: 32px;
font-weight: 600;
line-height: 1.25;
}

.form-input {
    color: #8D8D8D;
font-size: 20px;
font-weight: 700;
line-height: 1.25;
}

.form-button {
    color: var(--text-color);
font-size: 24px;
font-weight: 400;
line-height: 1.25;
}

.forms-caption {
    color: #FFF;
/* text-align: center; */
font-size: 32px;
font-weight: 400;
line-height: 1.25;
}

.forms-desk {
    color: rgba(255, 255, 255, 0.71);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}

.forms-bold {
    color: rgba(255, 255, 255, 0.71);
font-size: 20px;
font-weight: 700;
line-height: 1.25;
}

/* секція клієнти */

.inviseters-title {
    color: var(--accent-color);
font-family: "Playfair Display", serif;
font-size: 36px;
font-weight: 600;
line-height: 1.33;

}

/* футер */


.footer-link {
    color: var(--additional-accent);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
font-variant: small-caps;
}

.footer-logo {
    color: var(--additional-accent);
text-align: center;
font-family: "Spline Sans", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 1.14;
text-transform: uppercase;
}


.address-link {
    color: var(--text-color);
/* text-align: center; */
font-size: 24px;
font-weight: 400;
line-height: 1.25;
text-transform: capitalize;
}

.address-text {
    color: var(--text-color);
font-size: 20px;
font-weight: 400;
line-height: 1.25;
}


/* font-family: "Spline Sans", sans-serif;
font-family: "Rubik", sans-serif;
font-family: "Playfair Display", serif;
font-family: "Kaushan Script", cursive;
font-family: "Source Sans 3", sans-serif; */